POSTGRES_DB=nutriapp
POSTGRES_USER=nutriapp
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=db
POSTGRES_PORT=5432
SECRET_KEY=django-insecure-changeme-replace-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost,http://localhost:80
