# Copia este archivo como .env y ajusta los valores
SECRET_KEY=django-insecure-cambia-esto-en-produccion-usa-python-secrets
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,tu-dominio.com
DB_NAME=nutriapp
DB_USER=nutriapp
DB_PASSWORD=password-seguro-aqui
DB_HOST=db
DB_PORT=5432
CORS_ALLOWED_ORIGINS=https://tu-dominio.com
CSRF_TRUSTED_ORIGINS=https://tu-dominio.com
